@main(Html("Calculator"), nav = "about") {

  <div class="description">

<p>The functionality is inspired by the 
<a href="http://www.google.com/help/features.html#reference">Google Calculator</a>, though I'm sure the 
implementation. is quite different.
<p>
This tool will evaluate expressions using SI or other convertible units and return the results in whatever units
you require. For example, suppose you have the word problem, <q>an object is traveling
100 feet every 3 seconds -- how far, in miles, will travel in one hour?</q> 
Simply ask the calculator to evaluate 
<q>(100 ft / 3 s) * 1 hr in mi</q> and it will return the result <q>22.72 mi</q>. Cool, huh?

<p>(Parsing does not rely on spaces between values, units, and operators, nor does it rely on parentheses, 
so <q>100ft/3s*1hr in mi</q> works just as well.)

    <p> The math is the easy part -- the hard part is the parsing. This project demonstrates the use of 
    Scala parser-combinators for syntax-directed translation. This implementation gives separate syntax rules 
    for value expressions and units expressions, and then they are combined using multiplication.
  </div>

}